Repository cm-core-team/cm-core, pull requests merged in 2023-11, with the labels that each got.

#17 Add a nav menu
  frontend/app/components/theme-mode-toggle.tsx
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/root-nav-menu.tsx
  frontend/bun.lockb
  frontend/components.json
  frontend/components/theme-provider.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/toast.tsx
  frontend/components/ui/toaster.tsx
  frontend/components/ui/use-toast.ts
  frontend/package.json
  frontend/tailwind.config.js
  frontend/tailwind.config.ts
Labels: bug, frontend 🖥️, code review 🫵

#22 refactor: navbar tweaks
  frontend/app/root-nav-menu.tsx
Labels: enhancement, features ✨, frontend 🖥️, code review 🫵

#32 feat: congregation phone number
  backend/.env.example
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/find_meetings.go
  backend/internal/integrations/meeting-finder/dtos/meetings.go
  backend/internal/integrations/meeting-finder/find_meetings.go
  backend/internal/integrations/meeting-finder/find_meetings_test.go
  backend/internal/models/congregation.go
  backend/internal/models/setup.go
  frontend/.env.example
  frontend/app/register/components/get-weekly-meetings.tsx
  frontend/app/register/page.tsx
  frontend/bun.lockb
  frontend/components/theme-mode-toggle.tsx
  frontend/lib/config.ts
  frontend/lib/find-meetings/fetch-meetings.ts
  frontend/lib/types/congregation.ts
  frontend/lib/types/token.ts
  frontend/lib/types/user.ts
  frontend/package.json
Labels: features ✨, frontend 🖥️, backend 👏, code review 🫵

#39 feat: user register congregation
  backend/.env.example
  backend/cmd/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/dtos/find_meetings.go
  backend/internal/handlers/find_meetings.go
  backend/internal/models/congregation.go
  backend/internal/models/token.go
  backend/internal/models/user.go
  backend/internal/routes/routes.go
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/app/register/components/get-weekly-meetings.tsx
  frontend/app/register/components/meeting-card.tsx
  frontend/app/register/components/weekly-meetings-list.tsx
  frontend/app/register/page.tsx
  frontend/app/root-nav-menu.tsx
  frontend/bun.lockb
  frontend/components/disabled-button.tsx
  frontend/components/ui/scroll-area.tsx
  frontend/lib/find-meetings/create-congregation.ts
  frontend/lib/find-meetings/fetch-meetings.ts
  frontend/lib/types/congregation.ts
  frontend/package.json
  frontend/tailwind.config.ts
Labels: features ✨, frontend 🖥️, backend 👏, code review 🫵

#40 fix: congregation area bug
  backend/internal/handlers/find_meetings.go
  backend/internal/integrations/meeting-finder/find_meetings.go
  backend/internal/integrations/meeting-finder/find_meetings_test.go
  backend/internal/models/congregation.go
  backend/scripts/seed.go
  frontend/app/register/components/weekly-meetings-list.tsx
  frontend/bun.lockb
Labels: frontend 🖥️, backend 👏, code review 🫵, fix

#42 feat: monorepo packages and ci/cd
  .github/workflows/backend-unit-tests.yml
  .github/workflows/frontend-unit-tests.yml
  .github/workflows/integration-tests.yml
  .gitignore
  README.md
  backend/internal/integrations/meeting-finder/find_meetings_test.go
  bun.lockb
  docs/Architecture.drawio
  docs/cm designs.fig
  package.json
  packages/frontend/.env.example
  packages/frontend/.eslintrc.json
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/app/favicon.ico
  packages/frontend/app/globals.css
  packages/frontend/app/layout.tsx
  packages/frontend/app/login/components/login-form.tsx
  packages/frontend/app/login/components/register-form.tsx
  packages/frontend/app/login/page.tsx
  packages/frontend/app/page.tsx
  packages/frontend/app/providers.tsx
  packages/frontend/app/register/components/get-weekly-meetings.tsx
  packages/frontend/app/register/components/meeting-card.tsx
  packages/frontend/app/register/components/weekly-meetings-list.tsx
  packages/frontend/app/register/page.tsx
  packages/frontend/app/root-nav-menu.tsx
  packages/frontend/bun.lockb
  packages/frontend/components.json
  packages/frontend/components/blinking-cursor.tsx
  packages/frontend/components/disabled-button.tsx
  packages/frontend/components/feature-item.tsx
  packages/frontend/components/text-animation.tsx
  packages/frontend/components/theme-mode-toggle.tsx
  packages/frontend/components/theme-provider.tsx
  packages/frontend/components/ui/button.tsx
  packages/frontend/components/ui/dropdown-menu.tsx
  packages/frontend/components/ui/form.tsx
  packages/frontend/components/ui/input.tsx
  packages/frontend/components/ui/label.tsx
  packages/frontend/components/ui/navigation-menu.tsx
  packages/frontend/components/ui/scroll-area.tsx
  packages/frontend/lib/config.ts
  packages/frontend/lib/find-meetings/create-congregation.ts
  packages/frontend/lib/find-meetings/fetch-meetings.ts
  packages/frontend/lib/types/congregation.ts
  packages/frontend/lib/types/token.ts
  packages/frontend/lib/types/user.ts
  packages/frontend/lib/utils.ts
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/public/next.svg
  packages/frontend/public/vercel.svg
  packages/frontend/tailwind.config.ts
  packages/frontend/tsconfig.json
  packages/integration-tests/crud/user.test.ts
  tsconfig.json
Labels: enhancement, in progress, ci

#46 feat: create selected congregation
  .github/workflows/integration-tests.yml
  Makefile
  backend/cmd/main.go
  backend/internal/common/user_errors.go
  backend/internal/handlers/congregation.go
  backend/internal/handlers/dtos/congregation.go
  backend/internal/handlers/user.go
  backend/internal/models/congregation.go
  backend/internal/routes/routes.go
  backend/internal/services/congregation.go
  backend/internal/testing/fixtures/congregation.go
  bun.lockb
  docker-compose.test.yml
  docker-compose.yml
  docker/Dockerfile
  docker/integration-tests/Dockerfile
  package.json
  packages/frontend/.env.example
  packages/frontend/app/layout.tsx
  packages/frontend/app/register/components/get-weekly-meetings.tsx
  packages/frontend/bun.lockb
  packages/frontend/components/ui/toast.tsx
  packages/frontend/components/ui/toaster.tsx
  packages/frontend/components/ui/use-toast.ts
  packages/frontend/lib/backend-error-handle.ts
  packages/frontend/lib/config.ts
  packages/frontend/lib/find-meetings/create-congregation.ts
  packages/frontend/lib/fixtures/generate-congregation.ts
  packages/frontend/lib/types/congregation.ts
  packages/frontend/package.json
  packages/frontend/tailwind.config.ts
  packages/integration-tests/crud/congregation.test.ts
  packages/integration-tests/package.json
  packages/integration-tests/setupTests.ts
  packages/integration-tests/tsconfig.json
Labels: enhancement, features ✨, backend 👏

#51 chore: cleanup
  packages/frontend/app/dashboard/components/animate-card.tsx
  packages/frontend/app/dashboard/components/cong-events-card.tsx
  packages/frontend/app/dashboard/components/dashboard.tsx
  packages/frontend/app/dashboard/components/information-card.tsx
  packages/frontend/app/dashboard/components/item-cards.tsx
  packages/frontend/app/dashboard/components/meeting-duties-card.tsx
  packages/frontend/app/dashboard/components/public-witnessing-schedule-card.tsx
  packages/frontend/app/dashboard/components/user-info-card.tsx
  packages/frontend/app/dashboard/page.tsx
Labels: enhancement, frontend 🖥️

#50 feat: phone number verification
  Makefile
  backend/.env.example
  backend/go.mod
  backend/go.sum
  backend/internal/common/user_errors.go
  backend/internal/handlers/congregation.go
  backend/internal/handlers/dtos/congregation.go
  backend/internal/middleware/auth.go
  backend/internal/models/congregation.go
  backend/internal/models/setup.go
  backend/internal/models/token.go
  backend/internal/routes/routes.go
  backend/internal/services/congregation.go
  backend/internal/services/security/jwt.go
  bun.lockb
  docker-compose.test.yml
  docker-compose.yml
  package.json
  packages/frontend/app/providers.tsx
  packages/frontend/app/register/components/get-weekly-meetings.tsx
  packages/frontend/app/register/components/weekly-meetings-list.tsx
  packages/frontend/app/register/phone-number/components/phone-number-check.tsx
  packages/frontend/app/register/phone-number/page.tsx
  packages/frontend/app/store-provider.tsx
  packages/frontend/components/ui/select.tsx
  packages/frontend/lib/config.ts
  packages/frontend/lib/find-meetings/create-congregation.ts
  packages/frontend/lib/phone-number/verify-phone.ts
  packages/frontend/lib/stores/local-meetings.ts
  packages/frontend/lib/stores/store.ts
  packages/frontend/package.json
  packages/integration-tests/pool.ts
  packages/integration-tests/security/congregation.test.ts
  packages/integration-tests/setupTests.ts
Labels: testing 🧪, features ✨, frontend 🖥️, backend 👏

#55 feat(congregation cards): fade in animation
  packages/frontend/app/register/components/meeting-card.tsx
  packages/frontend/app/register/components/weekly-meetings-list.tsx
Labels: features ✨, frontend 🖥️, code review 🫵
