Repository cm-core-team/cm-core, pull requests merged in 2023-12, with the labels that each got.

#58 fix(next ui colors): fixed next ui color parsing errors
  packages/frontend/tailwind.config.ts
Labels: bug, frontend 🖥️, code review 🫵, fix

#61 perf: faster build times
  docker/Dockerfile
  docker/integration-tests/Dockerfile
Labels: enhancement, testing 🧪, ci

#62 ci(test): add more integration tests
  backend/internal/handlers/dtos/token.go
  backend/internal/handlers/dtos/user.go
  backend/internal/handlers/token.go
  backend/internal/handlers/user.go
  backend/internal/models/token.go
  backend/internal/models/user.go
  backend/internal/routes/routes.go
  backend/internal/services/user.go
  backend/scripts/seed.go
  docker/Dockerfile
  packages/.prettierrc
  packages/frontend/lib/config.ts
  packages/frontend/lib/congregation/group-by-coords.test.ts
  packages/frontend/lib/fixtures/generate.ts
  packages/frontend/lib/types/compositions.ts
  packages/frontend/lib/types/congregation.ts
  packages/frontend/lib/types/token.ts
  packages/frontend/lib/types/user.ts
  packages/integration-tests/crud/user.test.ts
  packages/integration-tests/endpoints/congregation.test.ts
  packages/integration-tests/endpoints/user.test.ts
  packages/integration-tests/security/congregation.test.ts
Labels: ci

#65 ci: create dependabot config
  .github/dependabot.yml
Labels: enhancement, code review 🫵, ci

#63 feat: create a footer
  packages/frontend/app/footer.tsx
  packages/frontend/app/layout.tsx
  packages/frontend/lib/types/footer-link.ts
Labels: features ✨, frontend 🖥️, code review 🫵

#75 chore(more linting): linting in actions
  .github/workflows/linting.yml
  Makefile
  bun.lockb
  docker/integration-tests/Dockerfile
  package.json
  packages/.eslintrc.json
  packages/frontend/app/dashboard/components/user-info-card.tsx
  packages/frontend/app/footer.tsx
  packages/frontend/app/layout.tsx
  packages/frontend/app/page.tsx
  packages/frontend/components/text-animation.tsx
  packages/frontend/components/ui/button.tsx
  packages/frontend/components/ui/calendar.tsx
  packages/frontend/components/ui/card.tsx
  packages/frontend/components/ui/dialog.tsx
  packages/frontend/components/ui/dropdown-menu.tsx
  packages/frontend/components/ui/form.tsx
  packages/frontend/components/ui/hover-card.tsx
  packages/frontend/components/ui/input.tsx
  packages/frontend/components/ui/label.tsx
  packages/frontend/components/ui/navigation-menu.tsx
  packages/frontend/components/ui/popover.tsx
  packages/frontend/components/ui/scroll-area.tsx
  packages/frontend/components/ui/select.tsx
  packages/frontend/components/ui/separator.tsx
  packages/frontend/components/ui/toast.tsx
  packages/frontend/components/ui/toaster.tsx
  packages/frontend/components/ui/use-toast.ts
  packages/frontend/lib/phone-number/verify-phone.ts
  packages/frontend/lib/types/footer-link.ts
  packages/frontend/lib/utils.ts
  packages/frontend/postcss.config.js
  packages/frontend/tailwind.config.ts
Labels: enhancement, frontend 🖥️, backend 👏, code review 🫵

#76 feat: common app settings
  .github/workflows/backend-unit-tests.yml
  .github/workflows/integration-tests.yml
  backend/.env.example
  backend/cmd/main.go
  backend/internal/common/env_secrets.go
  backend/internal/integrations/meeting-finder/find_meetings.go
  backend/internal/services/security/jwt.go
Labels: enhancement, backend 👏, code review 🫵
